*{
    padding: 0;
    margin: 0;
}
button,a{
    cursor: pointer;
}

.m-r{
    margin-right: 10px;
}
.m-t
{
    margin-top: 30px;
}
.m-b
{
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
.activeTab{
    background-color: #00ff1f9e!important;
}
.main_tab{
    padding:40px;
}
.box_container{
    width: 1200px;
    margin: 0 auto;
}
table{
    width: 100%;
    margin-top: 20px;
    
}
.data-table1{
    height:400px;
    overflow-y: auto;
}
.input_field button{
    background-color: #2196F3;
     color: white;
     padding: 10px;
     outline: none;
     border: none;
     box-shadow: 0 1px 2px black;
     min-width: 100px;
     
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
}

input{
    padding: 10px;
    border: 1px solid #0000009c;
    width: 90px;
   
}
.input_field{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.tabs_button{
    text-align: center;
}

 button{
    min-width: 100px;
     background-color: #2196F3;
     color: white;
     padding: 10px;
     outline: none;
     border: none;
     box-shadow: 0 1px 2px black;

}


section.listing_campaigns {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background:white;
    padding: 40px 0 ;
}

.datepick{
    display: flex;
    justify-content: space-around;
}
