*{

  padding: 0;
  margin: 0;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ed7d31;
  max-height: 30px;
  overflow: hidden;
}

th{
  background-color: #ed7d31;
  color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
  background-color: white;
}

tr:nth-child(even) {
  background-color: #fcece8;
}



button.common_button {
  outline: none;
  border: none;
  min-width: 123px;
  font-weight: 700;
  background: #ed7d31;
  color: #fff;
}


span.radio {
  width: 20px;
  height: 20px;
  background: transparent;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #ed7d31;
  position: relative;
  box-shadow: 0px 1px 4px 1px #CCC;
}

span.radio::after{
  position: absolute;
  left: 0;
  right: 0;
  width:70%;
  margin: auto;
  top: 0;
  height: 70%;
  content: "";
  
  border-radius: 50%;
  bottom: 0;
  
}

.radio_td input[type="radio"] {
  appearance: none;
  width: 20px;
  position: absolute;
  z-index: 999;
  height: 20px;
}

.radio_td input[type="radio"]:checked ~ span:after {
  background: #ed7d31;
}

