*{

  padding: 0;
  margin: 0;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ed7d31;
  max-height: 30px;
  overflow: hidden;
}

th{
  background-color: #ed7d31;
  color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
  background-color: white;
}

tr:nth-child(even) {
  background-color: #fcece8;
}



button.common_button {
  outline: none;
  border: none;
  min-width: 123px;
  font-weight: 700;
  background: #ed7d31;
  color: #fff;
}

.checkmark{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  left: 10px;
  top: 10px;

}

.checkmark::after{
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  left: 6px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: none;

  transform: rotate(45deg);
}
.radio_td input:checked ~ .checkmark {
  background-color: #fb8332;
}
.radio_td input:checked ~ .checkmark:after {
  display: block;
}

.radio_td input{
  position: absolute;
  z-index: 3;
  width: 100%;
  opacity: 0;
  top: 10px;

}


/* CSS */
button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.common_bg{
  background-color: #ed7d31;
}